<h1>Liste des membres du club</h1>

<table class="table table-striped">
<thead class="thead-light">
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Lien</th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
  <td>
    <%= user.first_name %>
  </td>
  <td>
    <%= user.last_name %> 
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= link_to 'Voir le profil', user_path(user.id) %>
  </td>
</tr>
<% end %>
</tbody>
</table>