<h1>Ma page</h1>

<table class="table table-striped">
<thead class="thead-light">
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>
    <%= @user.first_name %>
  </td>
  <td>
    <%= @user.last_name %> 
  </td>
  <td>
    <%= @user.email %>
  </td>
</tr>
</tbody>

</table>
<% if @user.id == current_user.id %>
<%= link_to 'Modifier mon Profil', edit_user_path(@user.id), id: 'page_link', class: 'btn btn-outline-primary' %>
<% end %>